.add-transaction {
    margin: 20px 0;
    background: var(--background-light-black); /* Darker background for the form */
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Darker shadow for 3D effect */
  }
  
  .form-control {
    margin-bottom: 10px;
  }
  
  .form-control label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.1em;
    color: var(--secondary-color-dark-purple); /* Dark purple color */
  }
  
  .form-control input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--grey-border); /* Darker border */
    border-radius: 5px;
    font-size: 1em;
    background-color: var(--background-color-main); /* Matching input background */
    color: var(--secondary-color-dark-purple); /* Dark purple color */
  }
  
  .btn {
    padding: 10px;
    background-color: var(--darker-purple); /* Dark purple button */
    color: var(--white);
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background-color 0.3s;
  }
  
  .btn:hover {
    background-color: var(--darker-purple-hover); /* Darker purple on hover */
    cursor:pointer; 
  }
  