.transaction-list ul {
    list-style: none;
    padding: 0;
}

.transaction-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px;
    border-left: 5px solid;
    margin: 10px 0;
}

.transaction-list .minus {
    border-color: red;
}

.transaction-list .plus {
    border-color: green;
}

.transaction-list .delete-btn {
    background: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.transaction-list .delete-btn:hover {
    background: #c0392b;
}
